// sizes

$xs:5px;
$sm:10px;
$xs-md:20px;
$sm-md:30px;
$md:40px;
$lg:50px;
$v-lg:100px;

// fonts
$f-roboto: 'Roboto', sans-serif;
// colors

$zircon:#F3F6FF;
$goldenrod:#F9D370;
$smalt-blue:#4C8787;
$black-rock:#0A032A;