@import 'https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Pacifico&family=Roboto:wght@100;300;900&display=swap';
*{
    margin: 0px;
    padding: 0px;
}
a{
    cursor: pointer;
    color:black;
    text-decoration: none;
}
.container{
    margin:0px auto;
    max-width: 1920px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}